@media (max-width: 700px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid #3b4d63;
    border-radius: 5px;
    /* padding: 0.5rem; */
  }

  td {
    position: relative;
  }

  td input[type="number"] {
    width: 50px;
    max-width: 60px;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.75rem;
    white-space: nowrap;
    color: #8da5cc;
    font-size: 10px;
  }

   tfoot,
  tfoot tr,
  tfoot td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

   tfoot td {
    padding-bottom: 0.5rem;
  }
}

#weigh-ins-entry-area {
  font-family: sans-serif;
  background-color: #0d1117;
  margin: 2rem;
}

#weigh-ins-entry-area table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1c2e4a;
  color: white;
}

#weigh-ins-entry-area .weight-Id {
  display: none;
}

#weigh-ins-entry-area th,
#weigh-ins-entry-area td {
  border: 1px solid #3b4d63;
  padding: 0.75rem;
  text-align: center;
}

#weigh-ins-entry-area th {
  background-color: #2a3f5f;
}

#weigh-ins-entry-area input {
  background-color: #0d1117;
  color: #ffffff;
  border: 1px solid #3b4d63;
  padding: 0.5rem;
  width: 90%;
}

#weigh-ins-entry-area button {
  background-color: #238636;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#weigh-ins-entry-area button:hover {
  background-color: #2ea043;
}

#weigh-ins-entry-area button.delete {
  background-color: #da3633;
}

#weigh-ins-entry-area button.delete:hover {
  background-color: #e55350;
}

#weigh-ins-entry-area button:disabled {
  background-color: #555;
  cursor: not-allowed;
}